body{
    margin:0;
    font-family:Arial, sans-serif;
    background:#fff5f7;
    text-align:center;
}

.hero{
    padding:100px 20px;
    background:linear-gradient(135deg,#ff7eb3,#ff758c);
    color:white;
}

.hero h1{
    font-size:55px;
}

.gallery{
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
    padding:30px;
}

.gallery img{
    width:250px;
    height:250px;
    object-fit:cover;
    margin:10px;
    border-radius:20px;
    transition:0.3s;
}

.gallery img:hover{
    transform:scale(1.05);
}

.timeline{
    padding:40px;
}

.card{
    background:white;
    width:700px;
    margin:20px auto;
    padding:20px;
    border-radius:20px;
    box-shadow:0 5px 15px rgba(0,0,0,0.1);
}

.letter{
    background:white;
    margin:40px;
    padding:30px;
    border-radius:20px;
}

footer{
    padding:30px;
    color:#777;
}
